.HeaderImg{

 width:100%;
 height:400px;
 margin-left:20px;
 margin-right:20px;
}
.Header{

margin-top:60px;

}
.HeaderTitle{

align-items: center;
display: flex;
flex-direction:column;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:#444;


}