.writeformgroup textarea {
  width: 80%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.write {
  padding-top: 50px;

   width:100%;
    margin-left:40px;
 height:100%;

}
.writeform {
  margin-left: 40px;
}
iconstyle {
  font-weight: 100px;
  border-radius: 50%;

  color: red;
  cursor: pointer;
}
.writeformgroup {
  border: none;
  width:85vw;
}

.story {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
.formtsubmit {
  position: absolute;

  display: flex;
  float: right;

  margin-left: 50%;

  margin-top: 20px;
  color: white;
  background-color: teal;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}


textarea {
    border: none;
    outline: none;
    border-radius: 10px;
    
}

.writeimage{
 width:70vw;
 margin-left:30px;
 object-fit: cover;
 height:200px;
border-radius: 20px;

}